In [1]:
import os
import librosa
import librosa.display
import IPython.display
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import matplotlib.font_manager as fm
import pandas as pd
import csv

import scipy
from scipy.stats import skew
from tqdm import tqdm, tqdm_pandas

tqdm.pandas()

from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

from sklearn.svm import SVC

In [2]:
filename = np.array(pd.read_csv('data/SC_file_name.csv'))
answer = np.array(pd.read_csv('data/SC_answer.csv'))
size_ = 2
#path = './data/wav/'
path_test='./test_train_image/test/'
path_train='./test_train_image/train/'

train=pd.read_csv('./[test]file_name.csv')

#0 넣고 빼고로 잘돌아가는지 검사-ok
#step 0 은 101_1b1_Al_sc_Meditron을 기준으로 함
test_list=[0,1,2,3]
length=len(test_list)

In [3]:
def get_mfcc(name, path):
    #print(path)
    #print(name)
    #audio_path = 'data/wav/'+name
    #print(audio_path)
    data, _ = librosa.core.load(path+name+'.wav')
    print(data,_)
    #data, _ = librosa.load(path)
    try:
        #ft1 = librosa.feature.mfcc(data, sr = SAMPLE_RATE, n_mfcc=30)
        ft1 = librosa.feature.mfcc(data, n_mfcc=30) #이게핵심 Sample_rate를 어떻게 조절하느냐
        ft2 = librosa.feature.zero_crossing_rate(data)[0] # n_mfcc 값을 어떻게 조절하느냐에 따라 Feature개수가 달리 뽑힘
        ft3 = librosa.feature.spectral_rolloff(data)[0]
        ft4 = librosa.feature.spectral_centroid(data)[0]
        ft5 = librosa.feature.spectral_contrast(data)[0]
        ft6 = librosa.feature.spectral_bandwidth(data)[0]
        ft1_trunc = np.hstack((np.mean(ft1, axis=1), np.std(ft1, axis=1), skew(ft1, axis = 1), np.max(ft1, axis = 1), np.median(ft1, axis = 1), np.min(ft1, axis = 1)))
        ft2_trunc = np.hstack((np.mean(ft2), np.std(ft2), skew(ft2), np.max(ft2), np.median(ft2), np.min(ft2)))
        ft3_trunc = np.hstack((np.mean(ft3), np.std(ft3), skew(ft3), np.max(ft3), np.median(ft3), np.min(ft3)))
        ft4_trunc = np.hstack((np.mean(ft4), np.std(ft4), skew(ft4), np.max(ft4), np.median(ft4), np.min(ft4)))
        ft5_trunc = np.hstack((np.mean(ft5), np.std(ft5), skew(ft5), np.max(ft5), np.median(ft5), np.min(ft5)))
        ft6_trunc = np.hstack((np.mean(ft6), np.std(ft6), skew(ft6), np.max(ft6), np.median(ft6), np.max(ft6)))
        return pd.Series(np.hstack((ft1_trunc, ft2_trunc, ft3_trunc, ft4_trunc, ft5_trunc, ft6_trunc)))
    except:
        print('bad file')
        return pd.Series([0]*210)

In [4]:
for step in range(1):
    train_dd = pd.DataFrame()
    train_dd['fname'] = train['fname']
    #print(train_dd)
    
    train_dd=train_dd['fname'].progress_apply(get_mfcc,path='./data/wav/')
    print('result')
    #result2=filename[step][0].progress_apply(result,'data/wav/')
    
    #librosa.display.specshow(result2)
    #librosa.display.specshow(ft2)
    #librosa.display.specshow(ft3)    

    #plt.title(audio_path[0])
    #plt.figure(figsize=(0.78*size_,0.78*size_)) #size 56x56
    #plt.show()
    
    '''
    if step in test_list:
        #print(step)
        if answer[step]==0:
            #test&answer=0
            plt.savefig(path_test+'test_0/'+''.join(tmp_name[2])+'.png')
        else:
            #test&answer=1
            plt.savefig(path_test+'test_1/'+''.join(tmp_name[2])+'.png')
    else:
        if answer[step]==0:
            #train&answer=0
            plt.savefig(path_train+'train_0/'+''.join(tmp_name[2])+'.png')
        else:
            #train&answer=1
            plt.savefig(path_train+'train_1/'+''.join(tmp_name[2])+'.png')   
    '''

  0%|                                                                                            | 0/4 [00:00<?, ?it/s]

[0.06973912 0.10266001 0.09116188 ... 0.08305359 0.08018959 0.08612607] 22050

 50%|██████████████████████████████████████████                                          | 2/4 [00:02<00:02,  1.24s/it]

[-0.02710845 -0.03993477 -0.03530764 ... -0.04230448 -0.0414599
 -0.04527015] 22050

 75%|███████████████████████████████████████████████████████████████                     | 3/4 [00:03<00:01,  1.26s/it]

[ 0.00283427  0.00423394  0.0036414  ... -0.01369482 -0.01395124
 -0.01601286] 22050

100%|████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:05<00:00,  1.26s/it]

[ 3.1871754e-05  6.1540527e-06 -3.7155998e-05 ... -1.4125325e-02
 -8.7606525e-03  0.0000000e+00] 22050

result

In [5]:
train_dd['fname']=train['fname']
train_dd['label']=train['label']

train_dd.head()

,0,1,2,3,4,5,6,7,8,9,...,202,203,204,205,206,207,208,209,fname,label
0,-529.150714,104.431625,70.155029,42.595576,31.283187,27.506977,22.269213,16.563371,15.326892,16.716829,...,21.564437,9.528945,637.828765,196.478655,1.607248,2411.955645,615.640698,2411.955645,101_1b1_Al_sc_Meditron,0
1,-583.074734,95.407722,57.615403,31.388019,28.196551,33.571603,31.646767,22.791096,16.666687,15.631428,...,24.097667,10.911504,804.822850,168.890743,1.305739,2287.030091,786.653722,2287.030091,101_1b1_Pr_sc_Meditron,0
2,-596.955941,116.085412,60.695054,25.555994,26.209233,38.512355,36.051532,18.640725,3.533885,0.808338,...,21.736372,9.887285,858.287286,178.557817,0.694836,1552.025693,832.782581,1552.025693,102_1b1_Ar_sc_Meditron,1
3,-441.501217,100.973537,74.025115,43.224683,19.715090,7.853206,5.498144,8.017551,11.749791,14.897520,...,21.999469,8.849729,154.270866,80.775415,7.473920,1541.350121,149.358516,1541.350121,104_1b1_Al_sc_Litt3200,0

In [6]:
X = train_dd.drop(['label','fname'], axis=1)
feature_names = list(X.columns)

#1행의 label, fname만빼고 쭉 feature_names에 넣음
print(feature_names)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209]

In [7]:
X=X.values
#print(X)

#라벨 겹치지 않게 오름차순으로 정렬
labels = np.sort(np.unique(train_dd.label.values))
print(labels)

num_class=len(labels)

c2i={}
i2c={}

for i, c in enumerate(labels):
    c2i[c]=i
    i2c[i]=c

# csv파일에 있는 명들에 맞게 라벨링 정렬 [0,0,1,0]    
y = np.array([c2i[x] for x in train_dd.label.values])
#print(y)

[0 1]
[0 0 1 0]

In [9]:
#테스트 데이터 불러와야함 아직 엑셀파일 확인안함 할 것
X_test = test_data.drop(['label','fname'],axis=1)
X_test = X_test.values

print(X.shape)
print(X_test.shape)

NameError: name 'test_data' is not defined